* {
    border: 1px;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    display: flex;
    background-color: #4B2BB7;
    justify-content: center;

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.grid {
    display: grid;
    width: 100vw;
    grid-template-columns: minmax(10rem, 1fr) 1fr ;
    grid-template-rows: 12rem 1fr auto;
    padding-left: 7%;

    align-items: center ;
}

.nav_logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
}   

.nav_buttons {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    color: white;
    justify-content: right;
    padding: 1rem;
    margin-right: 10rem;
}

.nav_buttons div {
    padding: 1rem;
    font-size: 1.25rem;
}

header h1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3; 
    color: #FA6797;
    margin: 0;
    padding-top: 3.5rem;
    font-weight: bold;
}

header h2 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    color: white;
    font-size: 4.5rem;
    width: 10ch;
    margin: 0 0 15rem 0;
}   

header ul {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    color: white;
    font-size: 4.5rem;
    width: 15ch;
    margin: 0 0 15rem 0;
    list-style: none;
    padding: 0;
} 

@media only screen and (max-width: 800px) {
    .nav_buttons {
      display: none;
    }
  }

span {
    margin: auto;
    width: min-content;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap: 1rem;
}

article {
    width: 200px;
    height: 200px;
    background-color: #4B2BB7;
    border-radius:10px;
}

h1 {
    margin: auto;
}

p {
    margin: auto;
}


/* alex add */
section {
    padding-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    font-family: 'Open Sans', sans-serif;  
    width: 45vw;  
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 900;
}

section p {
    width: 45vw;
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

section span {
    margin: 0;
    padding-top: 10vh;
    justify-self: center;
}

span article {
    background: #9B53A0;
    width: 300px;
    height: 300px;
}

footer {
    background-color: #4B2BB7;
    color: white;
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
  
    padding-top: 7.5vh;
    padding-left: 15vw;
}
/* alex add finish */

/* about page CSS */

.section-about {
    display: grid;
    
    width: 70%;

    margin: auto;
    padding: 10em 0 10em 0;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
}

.article-circle1 {
    width: 200px;
    height: 200px;
    
    margin-bottom: 5em;

    background-color: #9B53A0;
    border-radius: 50%;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.article-circle2 {
    width: 200px;
    height: 200px;

    margin-bottom: 5em;

    background-color: #9B53A0;
    border-radius: 50%;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.article-circle3 {
    width: 200px;
    height: 200px;

    background-color: #9B53A0;

    border-radius: 50%;
}

.card-info1 {
    padding-left: 5em;
    
    grid-column: 2 / 3;
    grid-row: 1 / 2
}

.card-info2 {
    padding-left: 5em;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card-info3 {
    padding-left: 5em;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


.job-color {
    margin-top: 0;
    
    color: #9B53A0;
    font-weight: lighter;
}

.button {
    display: block;
    width: 100px;

    padding: 0.7em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: auto;

    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;

    border: 3px solid white;
    border-radius: 27px;

    background-color:#4B2BB7;
}

/* Added by Javad */
.services {
    padding: 250px;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.services h1 {
    font-family: 'Open Sans', sans-serif;  
    width: 100%;  
    padding: 10px 0;
    font-size: 2rem;
    text-align: left;
    margin: 0;
    padding: 0;
}

.services p {
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    
}

.services span {
    /* margin: -50px; */
    margin: 0;
    border: 1px red solid; 
    justify-self: center;
}


.services .product {
    /* margin: -50px; */
    margin: 0;
    border: 1px red solid; 
    justify-self: left;
    text-align: left;
}

.product article {
    background: #9B53A0;
    width: 300px;
    height: 300px;
}

.product {
    margin: auto;
    width: min-content;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 27rem;
    justify-content: left;
    text-align: left;
}

.product p {
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: -20px;
    height: 2rem;
    color: #9B53A0;
}

.services__text {
    width: 936.8px;
    margin-top: 5rem
}

.services__text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.blog {
    padding: 0 250px 0 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blog h1 {
    font-family: 'Open Sans', sans-serif;  
    width: 100%;  
    padding-top: 100px ;
    font-size: 2rem;
}
.blog h2 {
    font-family: 'Open Sans', sans-serif;  
    width: 100%;  
    padding: 10px 0;
    font-size: 1.5rem;
    color: #9B53A0;
}
.blog_article{
    margin: auto;
    width: min-content;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
}
.blog_article article {
    background: #9B53A0;
    width: 750px;
    height: 300px;
}
.blog_text {
    padding: 100px 250px 300px 250px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}